In [59]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [60]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2004-12-28', end='2019-12-28')['Adj Close']

In [61]:
sec_data.tail()

                    PG      BEI.DE
Date
2019-12-20  120.076668  105.438469
2019-12-23  119.636055  105.241478
2019-12-24  119.942581         NaN
2019-12-26  119.942581         NaN
2019-12-27  120.775909  105.142975

In [62]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [63]:
sec_returns

                  PG    BEI.DE
Date
2004-12-27       NaN       NaN
2004-12-28  0.000721 -0.001607
2004-12-29 -0.003614 -0.004837
2004-12-30  0.003794 -0.011961
2004-12-31 -0.006695  0.000000
...              ...       ...
2019-12-20  0.003516  0.018860
2019-12-23 -0.003676 -0.001870
2019-12-24  0.002559       NaN
2019-12-26  0.000000       NaN
2019-12-27  0.006924       NaN

[3778 rows x 2 columns]

## PG

In [64]:
sec_returns['PG'].mean()

0.00033182812139455125

In [65]:
sec_returns['PG'].mean() * 250

0.08295703034863781

In [66]:
sec_returns['PG'].std()

0.010688713866740883

In [72]:
sec_returns['PG'].std() * 250 ** 0.5

0.16900340538363334

## Beiersdorf

In [68]:
sec_returns['BEI.DE'].mean()

0.0004055089280612914

In [69]:
sec_returns['BEI.DE'].mean() * 250

0.10137723201532285

In [70]:
sec_returns['BEI.DE'].std()

0.01343128388261715

In [71]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21236724484689912

### 結果

In [73]:
print(sec_returns['PG'].mean() * 250)
print(sec_returns['BEI.DE'].mean() * 250)

0.08295703034863781
0.10137723201532285

In [74]:
sec_returns['PG', 'BEI.DE'].mean() * 250

KeyError: ('PG', 'BEI.DE')

In [75]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.082957
BEI.DE    0.101377
dtype: float64

In [76]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.169003
BEI.DE    0.212367
dtype: float64