## 共分散と相関係数

In [78]:
PG_var = sec_returns['PG'].var()
PG_var

0.00011424860412505884

In [80]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.0001803993867354512

In [81]:
PG_var_a = sec_returns['PG'].var()  * 250
PG_var_a

0.02856215103126471

In [82]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.0450998466838628

In [83]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000114  0.000034
BEI.DE  0.000034  0.000180

In [84]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.028562  0.008573
BEI.DE  0.008573  0.045100

In [85]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.238869
BEI.DE  0.238869  1.000000